<template>
    <div class="container-fluid">
        <div class="hello">
            <h1>{{ msg }}</h1>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary mb-3" type="submit"><i class="fa fa-plus-square"></i> Tambah Post</button>
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Create Post</th>
                                    <th scope="col">Update Post</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="dataPost.length > 0">
                                    <tr v-for="(DP, index) in dataPost" :key="index">
                                        <th scope="row">{{index+1}}</th>
                                        <td>{{DP.title}}</td>
                                        <td>{{DP.body}}</td>
                                        <td>{{DP.created_at}}</td>
                                        <td>{{DP.updated_at}}</td>
                                        <td>
                                            <a href="#">
                                                <i class="fa fa-trash-alt"></i>
                                            </a> | 
                                            <a href="#">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr>
                                        <td colspan="6" class="text-center">Tidak ada data</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'HelloWorld',
    data () {
        return {
            msg: 'Welcome to Your Vue.js + Axios + Vuex + Lumen (Rest API) + Bootstrap 4',
        }
    },
    mounted () {
        this.fetchData();
    },
    computed: {
        dataPost() {
            return this.$store.state.post.post
        }
    },
    methods: {
        async fetchData () {
            this.$store.dispatch('LOAD_PROJECT_LIST')
        }
        // async fetchData () {
        //     let response = await this.$axios.get('/post')
        //     this.dataPost = response.data
        // },
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
